<% title '' %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large"><%= t '.heading' %></h1>

    <%= link_to 'Start the application', steps_start_start_path, class: 'button button-start', role: 'button' %>

  </div>
</div>
