<% title t('.page_title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= step_header %>
    <h1 class="heading-large"><%=t '.heading' %></h1>
    <p class="lede"><%=t '.lead_text' %></p>
    <%= link_to 'Nature of the application', edit_steps_nature_of_application_start_path, class: 'button button-start', role: 'button' %>
  </div>
</div>
